Scharp/Ucenje/.vs
Scharp/Ucenje/WebAPI/bin
Scharp/Ucenje/WebAPI/obj
Scharp/Vježbanjecs/.vs
Scharp/Vježbanjecs/Vjezbanjecs/obj
Scharp/Vježbanjecs/Vjezbanjecs/.vs
Scharp/Vježbanjecs/Vjezbanjecs/bin
Scharp/Vježbanjecs/Vjezbanjecs/obj/Debug
/Scharp/Vježbanjecs/Vjezbanjecs/obj/Debug
